@charset "UTF-8";
@import "https://unpkg.com/open-props@1.3.16/fonts.min.css";
@import "https://unpkg.com/open-props@1.3.16/colors.min.css";
:root input[name=switch-mode] ~ * {
  --background-color: var(--gray-9);
  --main-color: var(--blue-0);
  --h1-color: var(--green-6);
  --h2-color: var(--yellow-4);
  --h3-color: var(--green-6);
  --h4-color: var(--yellow-4);
  --h4-strong-color: var(--yellow-7);
  --anchor-color: var(--blue-6);
  --bullet-color: var(--green-4);
  --likes-color: var(--green-4);
}
:root input[name=switch-mode]:checked ~ * {
  --background-color: var(--gray-0);
  --main-color: var(--gray-9);
  --h1-color: var(--violet-6);
  --h2-color: var(--violet-4);
  --h3-color: var(--violet-6);
  --h4-color: var(--violet-7);
  --h4-strong-color: var(--violet-4);
  --hr-color: var(--blue-4);
  --anchor-color: var(--blue-6);
  --bullet-color: var(--green-6);
  --likes-color: var(--green-6);
}

.tgl {
  display: none;
}
.tgl:checked + .theme-btn .tgl-btn:before {
  left: -100%;
}
.tgl:checked + .theme-btn .tgl-btn:after {
  left: 0;
}

.theme-btn {
  display: flex;
  color: var(--main-color);
  justify-content: flex-end;
  margin-bottom: 5em;
  animation: 3s cubic-bezier(0, 1, 0.5, 1) 0s 1 slideUp;
}

.tgl-btn {
  cursor: pointer;
  font-size: 1rem;
  width: 4em;
  height: 2em;
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: 0.5em;
  border-radius: 0.2em;
  background: linear-gradient(90deg, var(--violet-4) 0%, var(--violet-7) 100%);
}
.tgl-btn:after, .tgl-btn:before {
  color: #fff;
  width: 100%;
  position: absolute;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: left 0.2s ease;
}
.tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}

.main-menu a {
  margin: 0 1em;
  white-space: nowrap;
}
.main-menu a::before, .main-menu a::after {
  position: absolute;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
  color: var(--main-color);
}
.main-menu a:hover::before, .main-menu a:hover::after, .main-menu a:focus::before, .main-menu a:focus::after {
  opacity: 1;
}
.main-menu a:hover:before, .main-menu a:focus:before {
  transform: translateX(-1em);
}
.main-menu a:hover:after, .main-menu a:focus:after {
  transform: translateX(0.3em);
}
.main-menu a::before {
  content: "[";
  transform: translateX(1em);
}
.main-menu a::after {
  content: "]";
  transform: translateX(-2.3em);
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, -5em, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
:root {
  font-size: 62.5%;
  --likes-prefix: "I ❤️";
}

body {
  background-color: var(--gray-9);
  font-size: 1.4rem;
  line-height: 1.6em;
  max-width: 40em;
  margin: 0 auto;
  font-family: var(--font-mono);
  padding: 2.1em;
}

main {
  position: relative;
  animation: 3s cubic-bezier(0, 1, 0.5, 1) 0s 1 slideUp;
  color: var(--main-color);
}

.background {
  background-color: var(--background-color);
  transition: 0.5s background-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#personal-details {
  text-align: center;
}

#work-experience p strong {
  color: var(--h3-color);
}

h1 {
  color: var(--h1-color);
  text-align: center;
  font-size: 2.2rem;
}

h2 {
  color: var(--h2-color);
  font-size: 1.4em;
}

h3 {
  color: var(--h3-color);
}

h4 {
  color: var(--h4-color);
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
h4 strong {
  color: var(--h4-strong-color);
  white-space: nowrap;
}
h4 + p {
  margin-top: 0;
}

h5 {
  text-transform: uppercase;
}

a {
  color: var(--anchor-color);
}

ul {
  padding-inline: 0;
}
ul li::marker {
  color: var(--bullet-color);
}

hr {
  border: none;
  text-align: center;
  margin: 1em 0;
}
hr::before {
  content: "...";
  font-weight: var(--font-weight-8);
  color: var(--hr-color);
  letter-spacing: 0.6em;
}

#likes {
  display: flex;
  align-items: center;
}
@keyframes ticker {
  0% {
    transform: translate3d(0, 0em, 0);
  }
  5.8823529412% {
    transform: translate3d(0, -1.8em, 0);
  }
  11.7647058824% {
    transform: translate3d(0, -3.6em, 0);
  }
  17.6470588235% {
    transform: translate3d(0, -5.4em, 0);
  }
  23.5294117647% {
    transform: translate3d(0, -7.2em, 0);
  }
  29.4117647059% {
    transform: translate3d(0, -9em, 0);
  }
  35.2941176471% {
    transform: translate3d(0, -10.8em, 0);
  }
  41.1764705882% {
    transform: translate3d(0, -12.6em, 0);
  }
  47.0588235294% {
    transform: translate3d(0, -14.4em, 0);
  }
  52.9411764706% {
    transform: translate3d(0, -16.2em, 0);
  }
  58.8235294118% {
    transform: translate3d(0, -18em, 0);
  }
  64.7058823529% {
    transform: translate3d(0, -19.8em, 0);
  }
  70.5882352941% {
    transform: translate3d(0, -21.6em, 0);
  }
  76.4705882353% {
    transform: translate3d(0, -23.4em, 0);
  }
  82.3529411765% {
    transform: translate3d(0, -25.2em, 0);
  }
  88.2352941176% {
    transform: translate3d(0, -27em, 0);
  }
  94.1176470588% {
    transform: translate3d(0, -28.8em, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
#likes::before {
  content: var(--likes-prefix);
}
#likes ul {
  color: var(--likes-color);
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  height: 1.8em;
  line-height: 1.8em;
  margin: 0;
  margin-left: 0.6em;
}
#likes ul li {
  animation: ticker 17s cubic-bezier(1, 0, 0.5, 0) infinite;
}

footer {
  font-size: 0.8em;
}
footer a {
  color: var(--hr-color);
}
footer p:first-child {
  opacity: 0.6;
}

/*# sourceMappingURL=styles.css.map */
